<?xml version="1.0"?>


 <launch>
   <arg name="model" default="$(find xen_quad)/urdf/xen_quad.urdf"/>

   <!-- send the robot XML to param server
   <param name="robot_description" command="$(find xacro)/xacro.py '$(arg model)'"/>
   -->

   <!-- push robot_description to factory and spawn robot in gazebo -->
   <node name="spawn_robot" pkg="gazebo" type="spawn_model"
   args="-file '$(arg model)'
   -urdf
   -z 0.45
   -model quadrotor"
     respawn="false" output="screen"/>

   <!-- Start quad listener process to take in motor commands and render
	them to robot -->
   <node name="xen_quad_flight" pkg="xen_quad" type="flight_controller"
  args=""/>

   <!-- Start joy node -->
   <node respawn="true" pkg="joy" type="joy_node" name="xen_quad_joy" >
      <param name="dev" type="string" value="/dev/input/js0" />
      <param name="deadzone" value="0.12" />
   </node>

   <!-- Start quad remote process to receive input from gamepad -->
   <node name="xen_quad_remote" pkg="xen_quad" type="remote" args=""/>
 </launch>
   
